name: Update

on:
  schedule:
    - cron: '*/20 * * * *'
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt
      - run: python scraper.py
      - run: |
          git config --global user.name "Bot"
          git config --global user.email "bot@noreply.github.com"
          git add data.csv
          git commit -m "Update" || exit 0
          git push
